// Animated Icons
// --------------------------

@prefix: fi;

.@{prefix}-spin {
    -webkit-animation: fi-spin 2s infinite linear;
            animation: fi-spin 2s infinite linear;
}

@-webkit-keyframes fi-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes fi-spin {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  
  100% {
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg);
  }
}
